@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display");

html {
  overflow: hidden;
  font: 12px sans-serif;
  color: #333;
  height: 100%;
}

body {
  font: 12px normal;
  margin: 0;
  height: 100%;
  line-height: 1;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: flex;
  align-items: center;
}

.numbox {
  /* width: 0.9em; */
  display: inline-block;
  text-align: left;
  transition: opacity .5s;
}

.numbox:hover {
  opacity: .5;
  transition: opacity .25s;
}

.numd {
  /* width: 1.3em; */
  text-align: right;
}

.numc {
  /* width: 1.1em; */
  text-align: left;
}

@keyframes time_on {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.numbox.on {
  animation-name: time_on;
  animation-duration: .75s;
}

#outbox {
  position: relative;
  border: 1px solid silver;
  padding: 1ex;
  max-width: 30em;
  width: calc(100% - 2ex - 2px);
  height: 6em;
  margin: auto;
}

#output_msg {
  text-align: center;
  margin: .25em 0;
  font-size: 1em;
}

#output {
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace;
  color: #f32;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.1em;
  cursor: default;
}

#info {
  height: 6em;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

#outbox.on #output_msg, #outbox.on #output {
  display: none;
}

#outbox.on #info {
  transition: 1s;
  visibility: visible;
  opacity: 1;
}

#info_btn {
  cursor: pointer;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  position: absolute;
  right: .5em;
  transition: 0;
  /* margin-left: 27.5em;
    background: #ddd; */
  /* padding: .5em; */
}

.onclick {
  /* background-color: #f32; */
}

.offclick {
  background-color: #fff;
}

@media only screen and (max-width:370px) {
  #output {
    font-size: 3.5em;
  }

  #outbox {
    height: 5em;
  }
}

@media only screen and (max-width:300px) {
  #output {
    font-size: 3em;
  }

  #outbox {
    height: 4.5em;
  }
}

@media only screen and (max-width:270px) {
  #output {
    font-size: 2.5em;
  }

  #outbox {
    height: 4em;
  }
}
