@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display");

.pages {
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  margin: 5em auto;
  padding: 1em 2em;
  border-radius: .5em;
  width: fit-content;
  transition: box-shadow .25s, opacity .25s;
}

.pages:hover {
  box-shadow: 0px 5px 11px rgba(0, 0, 0, .25)
}

body:not(:hover) .pages {
  transition: transform .5s;
  transform: rotate3d(0, 0, 0, 0) !important;
}

.pages h2 {
  text-align: left;
  margin: 0 0 .5em;
  font-size: 1.25em;
  color: #202124;
  font-weight: 500;
  padding-left: .3em;
}

.pages h2 .dday {
  font-size: .75em;
  font-weight: 200;
  margin-top: .25em;
  float: right;
  color: #5f6368;
}

.numbox {
  /* width: 0.9em; */
  display: inline-block;
  text-align: left;
  transition: background .5s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbox:hover {
  transition: background .25s;
  background: #FF8A80;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#page_3 .numbox:hover {
  background: #EA80FC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numd {
  /* width: 1.3em; */
  text-align: right;
}

.numc {
  /* width: 1.1em; */
  text-align: left;
}

.numbox.on {
  animation-name: time_on;
  animation-duration: .75s;
}

#outbox {
  position: relative;
  border: 1px solid silver;
  padding: 1ex;
  max-width: 30em;
  width: calc(100% - 2ex - 2px);
  height: 6em;
  margin: auto;
}

.countdown {
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace;

  text-align: center;
  line-height: 1;
  letter-spacing: -0.1em;
  cursor: default;
  white-space: nowrap;

  color: rgb(183, 28, 28);
  background: rgb(183, 28, 28);
  background: linear-gradient(90deg, rgba(183, 28, 28, 1) 0%, rgba(244, 67, 54, 1) 80%, rgba(63, 81, 181, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page_0 .countdown {
  background: rgb(183, 28, 28);
  background: linear-gradient(90deg, rgba(183, 28, 28, 1) 0%, rgba(211, 47, 47, 1) 80%, rgba(244, 67, 54, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page_1 .countdown {
  background: rgb(244, 67, 54);
  background: linear-gradient(90deg, rgba(244, 67, 54, 1) 0%, rgba(194, 24, 91, 1) 80%, rgba(156, 39, 176, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page_2 .countdown {
  background: rgb(194, 24, 91);
  background: linear-gradient(90deg, rgba(194, 24, 91, 1) 0%, rgba(156, 39, 176, 1) 80%, rgba(63, 81, 181, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info {
  height: 6em;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

#outbox.on #output_msg,
#outbox.on #output {
  display: none;
}

#outbox.on #info {
  transition: 1s;
  visibility: visible;
  opacity: 1;
}

#info_btn {
  cursor: pointer;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  position: absolute;
  right: .5em;
  transition: 0;
  /* margin-left: 27.5em;
    background: #ddd; */
  /* padding: .5em; */
}

.offclick {
  background-color: #fff;
}


@media screen and (max-width:1440px) {
  .pages {
    margin: 2em auto;
  }
}


@media only screen and (max-width:500px) {

  .pages {
    font-size: calc((100vw - 2em) / 26.5);
    margin: 0 auto;
    padding: 1em;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }

  .pages:hover {
    box-shadow: none;
  }

  .pages .translation {
    display: none;
  }

  #book {
    width: fit-content;
    border-top: 1px solid rgba(0, 0, 0, .25);
    margin: 2em auto .5em;
  }
}