@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display");

.pages {
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  margin: 5em auto;
  padding: 1em 2em;
  border-radius: .5em;
  width: fit-content;
  transition: box-shadow .25s;
}

.pages:hover {
  background: #fff;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, .25)
}

.pages h2 {
  text-align: left;
  margin: 0 0 .5em;
  font-size: 1.25em;
  color: #202124;
  font-weight: 400;
}

.pages h2 .dday {
  font-size: .85em;
  margin-top: .15em;
  float: right;
  color: #5f6368;
}

.numbox {
  /* width: 0.9em; */
  display: inline-block;
  text-align: left;
  transition: opacity .5s;
}

.numbox:hover {
  opacity: .5;
  transition: opacity .25s;
}

.numd {
  /* width: 1.3em; */
  text-align: right;
}

.numc {
  /* width: 1.1em; */
  text-align: left;
}

@keyframes time_on {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.numbox.on {
  animation-name: time_on;
  animation-duration: .75s;
}

#outbox {
  position: relative;
  border: 1px solid silver;
  padding: 1ex;
  max-width: 30em;
  width: calc(100% - 2ex - 2px);
  height: 6em;
  margin: auto;
}

.countdown {
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace;
  color: #f32;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.1em;
  cursor: default;
  white-space: nowrap;
}

#info {
  height: 6em;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

#outbox.on #output_msg,
#outbox.on #output {
  display: none;
}

#outbox.on #info {
  transition: 1s;
  visibility: visible;
  opacity: 1;
}

#info_btn {
  cursor: pointer;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  position: absolute;
  right: .5em;
  transition: 0;
  /* margin-left: 27.5em;
    background: #ddd; */
  /* padding: .5em; */
}

.offclick {
  background-color: #fff;
}

@media only screen and (max-width:500px) {
  .pages {
    font-size: .75em;
    margin: 2em auto;
  }

  .ad {
    margin: 2em auto 0;
  }
}