@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');

body {
  text-align: center;
  font-family: 'Noto Sans KR';
  margin: 0;

}

header {
  color: #212121;
  width: fit-content;
  z-index: 2;
  position: relative;
  margin: 5em auto 5em 5em;
}

header h1 {
  font-family: 'Noto Serif KR';
  font-size: 5em;
  margin: 0;
  text-align: left;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 1em);
}

header .copyright {
  text-align: left;
  position: absolute;
  top: 1.5em;
  left: 62em;
  white-space: nowrap;
  color: #555;
}

header #type {
  position: relative;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 4em;
  -webkit-text-fill-color: transparent;
  padding-right: .1em;
  animation: type 1.2s infinite;
  width: fit-content;

  background: #121FCF;
  background: linear-gradient(to right, rgba(238, 174, 202, 1) 50%, rgba(148, 187, 233, 1) 100%);
  -webkit-background-clip: text;
}

@keyframes type {
  0% {
    border: none;
  }

  49% {
    border: none;
  }

  50% {
    border-right: 5px solid rgba(148, 187, 233, 1);
  }

  100% {
    border-right: 5px solid rgba(148, 187, 233, 1);
  }
}

#inside_page {
  font-size: 1em;
  font-weight: bold;
  color: #eee;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: left;
  top: 0;
  cursor: default;
  z-index: 1;
}


#inside_page .tag {
  margin: 0 .25em;
  transition: color .125s, transform .25s;
}

#inside_page .tag::selection {
  background-color: transparent;
}

#inside_page .tag:hover {
  color: #ccc;
  text-decoration: underline;
  z-index: 2;
}

#book {
  margin: 0 calc(50vw - 900px);
  display: flex;
  perspective: 1000px;
  z-index: 10;
  position: relative;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.ad {
  position: relative;
  margin: 5em auto 0;
  background: #eee;
  max-width: 1200px;
  z-index: 10;
}

/* width options */

@media screen and (max-width:1800px) {
  #book {
    margin: auto;
  }
}

@media screen and (max-width:1440px) {
  header {
    margin: 5em auto;
    position: relative;
  }

  header .translation {
    display: none;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  header .copyright {
    text-align: right;
    left: initial;
    right: 0.5em;
    top: -3.5em;
  }

  header #type {
    font-size: 2em;
    white-space: inherit;
  }

  #book {
    display: inherit;
  }
}

@media screen and (max-width:500px) {
  header {
    margin: 2em 1em;
    width: 100%;
  }

  header h1 {
    font-size: 2em;
    text-align: center;
  }

  header .copyright {
    display: none;
  }

  header #type {
    font-size: 1.5em;
  }
}