@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

html {}

body {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans KR';
}

header {
  position: fixed;
  text-align: center;
  background: #fff;
  color: #212121;
  width: 100%;
  display: ;
  padding: 2em 0;
}

header h1 {
  /* margin: 1.25em 0 .25em; */
  margin: 0;
  /* display: inline-block; */
}

header .tag {
  display: inline-block;
  margin: 0 .25em;
  font-size: .875em;
  color: #777;
}

footer {
  text-align: center;
  background: #333;
  color: #eee;
  width: 100%;
}

body>section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#imgs {}

.imgs {
  margin: 3em 0;
  padding: 0 1em;
  border: 1px solid silver;
}

.pages {
  width: 375px;
  margin: auto;
  display: block;
  height: 88px;
  border: 0;
  margin-top: 1em;
  max-width: 100%;
}

.pages:first-child {
  margin-top: 0;
}

.ad {
  margin: 3em 0;
}

.copythis {
  margin: auto;
  width: 357px;
  max-width: calc(100% - 2em - 2px);
  box-shadow: none;
  margin: -2px 0 0 0;
  border: 1px solid silver;
  border-radius: 0;
  background: #eee;
  padding: .75em .5em;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
}

.copythis:before {
  content: '📋';
  float: left;
  border-right: 1px solid silver;
  padding: .75em;
  margin: -.75em -.5em;
  background: #ddd;
}

.copythis code {
  margin-left: 20px;
}

.copy_tooltip {
  background: #212121;
  display: none;
  color: #fff;
  position: absolute;
  padding: .5em .75em;
  font-size: .75em;
  left: calc(50% - 256px);
  margin-top: 0.5em;
  border-radius: 3px;
}

.copy_tooltip::after {
  content: " ";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  left: 100%;
  bottom: 0.75em;
  border-width: .5em 0 .5em .8em;
  border-left-color: #212121;
}

@media screen and (max-height:1080px) {
  header {
    position: static;
  }

  body>section {
    position: static;
    top: 0;
    transform: none;
  }
}
